<ion-content [fullscreen]="true">
  <ion-list class="receive-main-container">
    <ion-grid class="receive-main-grid">
      <ion-row class="receive-main-row">
        <ion-col class="receive-main-col" sizeLg="6" sizeXl="6" sizeMd="6" sizeSm="12" sizeXs="12">
          <div class="receive-col-header">

            <div class="left-side">
              <div class="img-header">
                <img src="../../assets/card1.png" alt="">
              </div>

              <div class="info-header">
                <h4>To Receive</h4>
                <p>My Order</p>
              </div>
            </div>


            <div class="right-side">
              <div class="icon-row">
                <div class="icon-container">
                  <ion-icon name="wallet-outline"></ion-icon>
                </div>
                <div class="icon-container">
                  <ion-icon name="menu-outline"></ion-icon>
                </div>
                <div class="icon-container">
                  <ion-icon name="settings-outline"></ion-icon>
                </div>
              </div>
            </div>

          </div>

        </ion-col>






        <ion-col class="receive-main-col" sizeLg="6" sizeXl="6" sizeMd="6" sizeSm="12" sizeXs="12">

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>




</ion-content>