<ion-content [fullscreen]="true">
  <ion-list class="setting-main-container">
    <div class="setting-header">
      <h3>Settings</h3>
      <p>You Profile</p>
    </div>

    <div class="setting-img-container">
      <div class="img-box-round">
        <img src="../../assets/avatar12.png" alt="">
      </div>
    </div>

    <div class="setting-input-container">

      <input type="text" placeholder="Enter Name">
      <input type="email" name="email" placeholder="Enter Email">
      <input type="password" name="password" placeholder="Enter Password">

    </div>

    <div class="btn-container-setting">
      <button>Save Changes</button>
    </div>

  </ion-list>
</ion-content>
