<ion-content [fullscreen]="true">

    <ion-list class="ready-main-container">
        <img class="top-left-img" src="/assets/ready-page-blue-left-bubble.png" alt="upper-blue-img">

        <ion-list class="slider-main-container">
                <swiper-container class="ion-margin-top ion-margin" pagination="true"  [breakpoints]="{
                    '360':{
                      'slidesPerView':1,
                      'spaceBetween':30,
                    },
                    '760':{
                      'slidesPerView':2,
                      'spaceBetween':10,
                    },
                    '1221':{
                      'slidesPerView':3,
                      'spaceBetween':15,
                    },
                  }">

                    <swiper-slide class="">
                      <!-- upper-section -->
                      <div class="slider-img">
                        <img src="/assets/image3.png" alt="">
                      </div>
                      <!-- bottom-section -->
                      <div class="slider-info-btn">
                        <h1>Ready?</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Lets Start</button>
                      </div>
                    </swiper-slide>

                    <swiper-slide class="">
                      <!-- upper-section -->
                      <div class="slider-img">
                        <img src="/assets/image3.png" alt="">
                      </div>
                      <!-- bottom-section -->
                      <div class="slider-info-btn">
                        <h1>Ready?</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Lets Start</button>
                      </div>
                    </swiper-slide>

                    <swiper-slide class="">
                      <!-- upper-section -->
                      <div class="slider-img">
                        <img src="/assets/image3.png" alt="">
                      </div>
                      <!-- bottom-section -->
                      <div class="slider-info-btn">
                        <h1>Ready?</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Lets Start</button>
                      </div>
                    </swiper-slide>

                    <swiper-slide class="">
                      <!-- upper-section -->
                      <div class="slider-img">
                        <img src="/assets/image3.png" alt="">
                      </div>
                      <!-- bottom-section -->
                      <div class="slider-info-btn">
                        <h1>Ready?</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Lets Start</button>
                      </div>
                    </swiper-slide>

                    <swiper-slide class="">
                      <!-- upper-section -->
                      <div class="slider-img">
                        <img src="/assets/image3.png" alt="">
                      </div>
                      <!-- bottom-section -->
                      <div class="slider-info-btn">
                        <h1>Ready?</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Lets Start</button>
                      </div>
                    </swiper-slide>

                    <swiper-slide class="">
                      <!-- upper-section -->
                      <div class="slider-img">
                        <img src="/assets/image3.png" alt="">
                      </div>
                      <!-- bottom-section -->
                      <div class="slider-info-btn">
                        <h1>Ready?</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button>Lets Start</button>
                      </div>
                    </swiper-slide>




            
                  </swiper-container>
            <div class="slider-bottom-section"></div>
        </ion-list>
        <img class="bottom-right-img" src="/assets/bubble-left.png" alt="" srcset="">
    </ion-list>




</ion-content>
