<ion-content [fullscreen]="true">
  <ion-list class="cart-main-container">
    <ion-grid class="cart-main-grid">
      <ion-row class="cart-main-row">
        <ion-col class="cart-main-col" sizeLg="6" sizeXl="6" sizeMd="6" sizeSm="12" sizeXs="12">
          <div class="header">
            <h2 class="cart-text">
              Cart
              <span class="cart-badge">2</span>
            </h2>
          </div>
          
          

        </ion-col>


        <ion-col class="cart-main-col" sizeLg="6" sizeXl="6" sizeMd="6" sizeSm="12" sizeXs="12"></ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
