<!-- payment-method.page.html -->

<ion-content [fullscreen]="true">
    <ion-list class="payment-method-main-container">
        <div class="payment-method-header">
            <h1>Settings</h1>
            <p>Payment Methods</p>
        </div>

        <div class="payment-card-box">
            <div class="master-card">
                <ion-grid class="credit-card">
                    <ion-row>
                        <ion-col size="9">
                            <div class="card-logo">
                                <img src="../../assets/pngimg.com - mastercard_PNG16.png" alt="card-logo" />
                            </div>
                        </ion-col>
                        <ion-col size="3">
                            <div class="settings-icon">
                                <ion-icon name="settings-outline"></ion-icon>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row class="card-details">
                        <ion-col>
                            <p class="card-number">{{cardDetails.cardNumber}}</p>
                            <p class="cardholder-name">{{cardDetails.cardholderName}}</p>
                            <p class="expiry-date">{{cardDetails.expiryDate}}</p>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>

            <div class="plus-btn" (click)="openCardModal()">
                <ion-icon name="add-outline"></ion-icon>
            </div>
        </div>

        <button class="payment-btn" (click)="goBack()">Payment</button>

    </ion-list>
</ion-content>