<ion-content [fullscreen]="true">
  <h1>Hello test page</h1>

  <!-- Action-button -->
  <ion-button (click)="setOpen(true)">Action Sheet</ion-button>
  <ion-action-sheet [isOpen]="alertService.isActionSheetOpen" header="Actions"
    [buttons]="alertService.actionSheetButtons" (didDismiss)="setOpen(false)">
  </ion-action-sheet>

  <!-- Alert -->
  <ion-button id="present-alert">Alert</ion-button>
  <ion-alert trigger="present-alert" header="Alert!" [buttons]="alertService.alertButtons" cssClass="alert-class"
    (didDismiss)="setResult($event)">
  </ion-alert>

  <!-- Popover -->
  <ion-button id="trigger-button">Click Me</ion-button>
  <ion-popover trigger="trigger-button">
    <ng-template>
      <ion-content class="ion-padding">Hello Styled World!</ion-content>
    </ng-template>
  </ion-popover>

  <!-- Toast -->
  <ion-button id="open-toast">Open Toast</ion-button>
  <ion-toast trigger="open-toast" [duration]="3000" message="Hello Styled World!" class="custom-toast"
    [buttons]="alertService.getToastButtons()">
  </ion-toast>

  <!-- Animation Modal -->
  <ion-header>
    <ion-toolbar>
      <ion-title>App</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-button id="open-modal" expand="block">Open Modal</ion-button>

    <ion-modal #modal trigger="open-modal" [enterAnimation]="alertService.enterAnimation"
      [leaveAnimation]="alertService.leaveAnimation">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Modal</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="modal.dismiss()">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            <ion-item>
              <ion-avatar slot="start">
                <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>Connor Smith</h2>
                <p>Sales Rep</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-content>
</ion-content>