<ion-content [fullscreen]="true">
  <ion-list class="box-container">
    <!-- header-logo-section -->
    <ion-list class="header-section">
      <ion-list class="img-container">
        <img src="/assets/image1.png" alt="" srcset="">
      </ion-list>
    </ion-list>
    <!-- bottom-section -->

    <ion-list class="bottom-container">
      <div class="upper-info">
        <h1>Shoppe</h1>
        <p>Beautiful eCommerce UI Kit for your online store</p>
      </div>

      <div class="btn-container">
        <button (click)="goToNextPage()">Let's get started</button>
        <div class="already-account">
          <p>I already have an account</p>
          <div><ion-icon name="arrow-forward-outline"></ion-icon></div>
        </div>
      </div>
    </ion-list>
  </ion-list>
</ion-content>